# Rewrite to get a pretty REST-URL.
  RewriteEngine On
  RewriteRule ^Fiskbil$ Fiskbil.php
  RewriteRule ^Fiskbil/$ Fiskbil.php [NC,L]
  RewriteRule ^Fiskbil/([0-9]+)/?$ Fiskbil.php?id=$1 [NC,L]
  RewriteRule ^Fiskbil/([a-zA-Z0-9]/_/-]+)/?$ Fiskbil.php?title=$1