# Rewrite to get a pretty REST-URL.
  RewriteEngine On
  RewriteRule ^fiskbil$ fiskbil.php
  RewriteRule ^fiskbil/$ fiskbil.php [NC,L]
  RewriteRule ^fiskbil/([0-9]+)/?$ fiskbil.php?id=$1 [NC,L]
  RewriteRule ^fiskbil/([a-zA-Z0-9]/_/-]+)/?$ fiskbil.php?fisksort=$1